body {
    background-color: #eeeeee;
}

.uk-navbar-container.uk-light:not(.uk-navbar-transparent):not(.uk-navbar-primary) {
    background: #222;
}

#mobile-navbar .uk-offcanvas-bar {
    box-shadow: 0.2rem 0 0.3rem 0 #0e0e0e;
}

#scrollUp {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    visibility: hidden;
}

#mobile-navbar li:nth-child(1),
#mobile-navbar li:nth-child(2),
#mobile-navbar li:nth-child(3) {
    border-left: unset;
}

#mobile-navbar li.uk-active {
    padding-left: 0.5rem;
    border-left: 0.1rem solid #545454;
}
