/node_modules
/public/*
!/public/img/
!/public/music/
!/public/other/
!/public/vendor/
!/public/index.php
!/public/favicon.ico
!/public/robots.txt
!/public/.htaccess
!/public/ads.txt
/storage/*.key
/vendor
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log

# HTML article files
resources/views/blog/article/*
!resources/views/blog/article/.gitkeep

# tmp download file
/public/other/tmp/*
