@import "~highlightjs/styles/vs2015";

.bt-article-title {
    padding: 1rem;
    /*文字周りの余白*/
    color: #010101;
    /*文字色*/
    background: #eaf3ff;
    /*背景色*/
    border-bottom: solid 0.3rem #516ab6;
    /*下線*/
}

#markdownContent h1 {
    font-size: 2rem;
    background: linear-gradient(to top, #a7d6ff 1rem, transparent 1rem);
}

#markdownContent h2 {
    font-size: 1.75rem;
    background: linear-gradient(to top, #ffc778 0.7rem, transparent 0.7rem);
}


#markdownContent {
    word-wrap: break-word;
}

.bt-related-articles-label {
    border-bottom: double 0.5rem #ffc778;
}

p {
    line-height: 1.5;
}

.bt-left-menu {
    width:80px;
}

.bt-right-menu {
    width:300px;
}

.bt-twitter-link:hover {
    color : #00acee;
}

.bt-facebook-link:hover {
    color : #3b5998;
}
